@model IEnumerable<LNCT_TNP_Project.Models.TNPMemberRegisterDTO>


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.EmailID)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Password)</th>
                        <th>@Html.DisplayNameFor(model => model.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                        <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.EmailID)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Password)</th>
                        <th>@Html.DisplayNameFor(model => model.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                        <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>

                        <td><button type="button" class="btn btn-info" onclick="UpdateTNP('@item.TNPID')">Edit</button></td>

                        <td> <button type="button" class="btn btn-info" onclick="DeleteTNP('@item.TNPID')">Delete</button></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>



<!-- Modal -->
<div class="modal fade" id="StudentEditModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditForm">
                    <div class="form-group">
                        <input type="hidden" id="tnpID">
                        <label for="tnpName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="tnpName">
                        <span class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        <label for="tnpEmailID" class="col-form-label">Email Address:</label>
                        <input type="text" class="form-control" id="tnpEmailID">
                        <span class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        <label for="tnpDepartment" class="col-form-label">Department Name:</label>
                        <input type="text" class="form-control" id="tnpDepartment">
                        <span class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        <label for="tnpPassword" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="tnpPassword">
                        <span class="text-danger" style="display:none"></span>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>

    function UpdateTNP(studId) {

        $.ajax({
            url: '/Admin/TNPDetails',
            type: 'GET',
            data: {
                //Passing Input parameter
                id: studId
            },
            success: function (result) {
                console.log(result);
                $("#tnpID").val(result.TNPID);
                $("#tnpName").val(result.Name);
                $("#tnpEmailID").val(result.EmailID);
                $("#tnpPassword").val(result.Password);
                $("#tnpDepartment").val(result.Department);

                $('#StudentEditModel').modal('toggle');
            },
            error: function () {
                alert("error");
            }
        });
    }

    function DeleteTNP(id) {
        //here i want to take delete the row with the specific id ,

        $.ajax({
            type: "POST",
            url: '/Admin/DeleteTNP',
            data: JSON.stringify({ ID: id }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.result) {
                    alert("Data has been deleted.");
                    window.location = response.url;
                }
                //alert("Data has been deleted.");

            },
            error: function () {
                alert("Error while deleting data");
            }


        });
    }

    $(document).ready(function () {

        $("#btnEditSave").click(function () {

            var IsValid = ValidationForm();

            if (IsValid) {
                var editDate = {
                    TNPID: $("#tnpID").val(),
                    Name: $("#tnpName").val(),
                    EmailID: $("#tnpEmailID").val(),
                    Password: $("#tnpPassword").val(),
                    Department: $("#tnpDepartment").val(),
                };
                //console.log(data);
                editDate = JSON.stringify(editDate);
                $.ajax({

                    type: "POST",
                    url: "/Admin/EditTNP",
                    dataType: 'Json',
                    data: {
                        editableData: editDate
                    },
                    success: function (response) {
                        $("#StudentEditModel .close").click();
                        if (response.result) {
                            window.location = response.url;
                        }
                    },
                    error: function (response) {
                        alert("error");
                    }
                })

            }


        })

        function ValidationForm() {
            var return_val = true;
            if ($('#tnpName').val().trim() == '') {
                $('#tnpName').next('span').html("This field is required.").show();
                return_val = false;
            } else {
                $('#tnpName').next('span').hide();
            }
            if ($('#tnpEmailID').val().trim() == '') {
                $('#tnpEmailID').next('span').html("This field is required.").show();
                return_val = false;
            } else {
                $('#tnpEmailID').next('span').hide();
            }
            if ($('#tnpPassword').val().trim() == '') {
                $('#tnpPassword').next('span').html("This field is required.").show();
                return_val = false;
            } else {
                $('#tnpPassword').next('span').hide();
            }

            return return_val;

        }
    })
</script>