@model LNCT_TNP_Project.Models.TNPMemberRegisterDTO

@{
    Layout = "~/Views/Shared/_LayoutTNP.cshtml";
    ViewBag.Title = "TnpChangePassword";
}

<div class="container">

    <h3 class=" mb-3">Change Password</h3>

    <div class="col-md-12 mb-5 ">
        <div class="row">
            <div class="col-md-8 m-auto">


                @using (Html.BeginForm("TnpChangePassword", "TNP", FormMethod.Post, new { @class = "", id = "myForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.TNPID)


                        <div class="form-group">
                            <h6><label for="exampleoldNewpassword">Old Password</label></h6>
                            <table><td> @Html.DisplayFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</td></table>
                            @*@Html.TextBoxFor(model=>model.Password)*@
                        </div>

                        <div class="form-group">
                            <h6><label for="exampleoldNewpassword">New Password</label></h6>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "password" } })
                            @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                            <span class="text-danger" style="display:none"></span>
                        </div>

                        <div class="form-group">
                            <h6><label for="Confirmpassword">Confirm Password</label></h6>
                            <input type="password" class="form-control" id="Confirmpassword" placeholder="Enter confirm password">
                            <span class="text-danger" style="display:none"></span>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn next_btn mb-5 mt-4" id="btnSubmit">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript -->
<script src="~/Content/vendor/jquery/jquery.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var IsValid = ValidationForm();
            if (IsValid) {

                console.log("string data");

                alert("Password has been changed")
                $("#myForm").submit();

            }
        })
    })

    function ValidationForm() {
        var return_val = true;

        if ($('#password').val().trim() == '') {
            $('#password').next('span').html("This field is required.").show();
            return_val = false;
        } else {
            $('#password').next('span').hide();

        }
        if ($('#Confirmpassword').val().trim() == '') {
            $('#Confirmpassword').next('span').html("This field is required.").show();
            return_val = false;

        } else if ($('#Confirmpassword').val() != $('#password').val()) {
            $('#Confirmpassword').next('span').html("Password not match.").show();
            return_val = false;

        } else {
            $('#Confirmpassword').next('span').hide();
        }

        return return_val;

    }


</script>
